.mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border: none;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-width: 0;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border: none;
}
