<mat-nav-list>
  <a mat-list-item routerLink="./home" class="flex items-center space-x-2 hover:bg-gray-700 transition-colors">
    <mat-icon class="mat-icon">home</mat-icon>
    <span class="ml-4">Inicio</span>
  </a>
  <a mat-list-item routerLink="./tournament" class="flex items-center space-x-2 hover:bg-gray-700 transition-colors">
    <mat-icon class="mat-icon">emoji_events</mat-icon>
    <span class="ml-4">Torneos</span>
  </a>
  <a mat-list-item routerLink="./bet_cook" class="flex items-center space-x-2 hover:bg-gray-700 transition-colors">
    <mat-icon class="mat-icon">sports_betting</mat-icon>
    <span class="ml-4">Apuesta Polla</span>
  </a>
  <a mat-list-item routerLink="./see_bets" class="flex items-center space-x-2 hover:bg-gray-700 transition-colors">
    <mat-icon class="mat-icon">visibility</mat-icon>
    <span class="ml-4">Ver Apuestas</span>
  </a>
  <a mat-list-item routerLink="./betting_missing" class="flex items-center space-x-2 hover:bg-gray-700 transition-colors">
    <mat-icon class="mat-icon">people</mat-icon>
    <span class="ml-4">Faltan Apostar</span>
  </a>
  <a mat-list-item routerLink="./change_password" class="flex items-center space-x-2 hover:bg-gray-700 transition-colors">
    <mat-icon class="mat-icon">lock</mat-icon>
    <span class="ml-4">Cambiar Contraseña</span>
  </a>
</mat-nav-list>
