<mat-nav-list class="bg-white">
  <a mat-list-item routerLink="./home" class="flex items-center space-x-2 hover:bg-teal-500 transition-colors">
    <mat-icon class="mat-icon">home</mat-icon>
    <span class="ml-4">Inicio</span>
  </a>
  <a mat-list-item routerLink="./tournament" class="flex items-center space-x-2 hover:bg-teal-500 transition-colors">
    <mat-icon class="mat-icon">emoji_events</mat-icon>
    <span class="ml-4">Registrar Torneos</span>
  </a>

  <a mat-list-item routerLink="./change_password" class="flex items-center space-x-2 hover:bg-teal-500 transition-colors">
    <mat-icon class="mat-icon">lock</mat-icon>
    <span class="ml-4">Cambiar Contraseña</span>
  </a>
</mat-nav-list>
