<mat-toolbar color="primary" class="flex justify-between items-center">
  <div class="flex items-center space-x-4">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="text-xl font-bold">Polla</span>
  </div>
  <div class="flex items-center space-x-4">
    <a mat-button routerLink="/home" class="text-white">Home</a>
    <a mat-button routerLink="/teams" class="text-white">Teams</a>
    <a mat-button routerLink="/schedule" class="text-white">Schedule</a>
    <a mat-button routerLink="/about" class="text-white">About</a>
  </div>
</mat-toolbar>
